@{
    ViewData["Title"] = "Home Page";
}

@model recommender.Models.User;

<div class="text-center">
  <br><br>
  <h1 class="display-6">Welcome to <b>NextBook</b></h1>
  <br><br>
  <p class="lead">Don't know which book to read next?</p>
  <p class="lead">Let our <b>AI</b> find it for you.</p>
  <br><br>
</div>

<div class="row">
  <div style="width:10%; float:center">
    <p></p>
  </div>
  <div class="well" style="width:45%; float:center">
    <p><b>Registered User</b></p>
    <form method="get" action="@Url.Action("Welcome", "Home")" >
        <p>Enter your <b>User ID: </b> 
        <input type="text" name="user_id" id="user_id" style="width:100px">
        <button class="btn btn-outline-primary btn-sm" type="submit">Confirm</button>
    </form>
    @{
    if (ViewBag.error_message != null) 
      { <p class="text-danger">Invalid input: @ViewBag.error_message</p>
      }
    }
  </div>
  <div class="well" style="width:45%; float:center">
    <p><b>Visitor</b></p>
    <p><a asp-action="AsGuest">Try as guest</a> or 
       <a href = "mailto: fahornwipa@gmail.com">contact me</a> to subscribe.</p>
  </div>
</div> 

<div class="text-muted">
    <br><br>
    <p>The AI recommendation engine is based on collaborative filtering. Books are recommended for you by
       the users who are considered similar to you. Similarities among users are based on their book
       ratings. The more books you rate, the AI can give you book recommendation with higher accuracy.</p>
    <p>To learn more the information used for creating this recommender system, please visit this 
        <a href="https://www.kaggle.com/zygmunt/goodbooks-10k">
        <b>dataset</b></a>. All the codes are available in this 
        <a href="https://github.com/ornwipa/book_recommender">
        <b>repository</b></a>.</p>
</div>