@{
    ViewData["Title"] = "Privacy Policy";
}
<h3>@ViewData["Title"]</h3>

<p>You can use your user identification number to access the books you rated and the books recommended for you. 
    Your user identification number is not associated with any of your personal data.</p>
