<!-- recommender.Models.User; -->
@model string; 

<h3>Hello @Model!</h3>

<p class="lead">What would you like to do today?</p>

<ul>
    <li>
        @Html.ActionLink(
            linkText: "See the book(s) you rated",
            actionName: "SetUser",
            controllerName: "Home",
            routeValues: new { user_id = Model },
            htmlAttributes: null
        )
    </li>
    <li>
        @Html.ActionLink(
            linkText: "Ask AI to recommend you some books",
            actionName: "RecommendBook",
            controllerName: "Home",
            routeValues: new { user_id = Model },
            htmlAttributes: null
        )
    </li>
    <li>
        <form method="get" action="@Url.Action("Search", "Home")">
            Search for any books, enter keywords:
            <input type="text" name="search" id="search">
            <input type="hidden" name="user_id" id="user_id" value=@Model>
            <button class="btn btn-outline-primary btn-sm" type="submit">Search</button>
        </form>
    </li>
</ul>