@model recommender.Models.User;

<h3>Welcome @Model.user_id!</h3>

What would you like to do today?
<ul>
    <li>
        <form method="get" action="@Url.Action("Search", "Home")">
            <b>Search for any books:</b>
            <input type="text" name="search" id="search">
            <input type="hidden" name="user_id" id="user_id" value=@Model.user_id>
            <button class="btn btn-outline-primary btn-sm" type="submit">Search</button>
        </form>
    </li>
    <li>
        @Html.ActionLink(
            linkText: "See the book(s) you rated",
            actionName: "SetUser",
            controllerName: "Home",
            routeValues: new { user_id = Model.user_id },
            htmlAttributes: null
        )
    </li>
    <li>
        @Html.ActionLink(
            linkText: "Ask AI to recommend you some books",
            actionName: "RecommendBook",
            controllerName: "Home",
            routeValues: new { user_id = Model.user_id },
            htmlAttributes: null
        )
    </li>
</ul>